doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 Inicia Sesion en UpTask!

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="correo electronico" value= email )
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Contraseña" value= password )
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesion")
                .campo
                    a(href="/crear-cuenta", title="title") Crear una cuenta en UpTask!
